@layer base {

  :root {
    --bg: theme("colors.stone.900");
    --accent-bg: theme("colors.stone.800");
    --text: theme("colors.stone.200");
    --text-light: theme("colors.stone.400");
    --border: theme("colors.stone.500");
    --accent: theme("colors.blue.400");
    --code: theme("colors.red.400");
    --preformatted: theme("colors.gray.400");
    --marked: theme("colors.yellow.500");
    --disabled: theme("colors.gray.200");
  }
}
