@layer base {

  :root {
    --bg: theme("colors.red.900");
    --accent-bg: theme("colors.red.800");
    --text: theme("colors.red.50");
    --text-light: theme("colors.red.100");
    --border: theme("colors.red.300");
    --accent: theme("colors.stone.400");
    --code: theme("colors.red.500");
    --preformatted: theme("colors.red.400");
    --marked: theme("colors.teal.300");
    --disabled: theme("colors.red.800");
  }
}
