@layer base {

  :root {
    --bg: theme("colors.rose.900");
    --accent-bg: theme("colors.rose.800");
    --text: theme("colors.rose.50");
    --text-light: theme("colors.rose.100");
    --border: theme("colors.rose.300");
    --accent: theme("colors.emerald.400");
    --code: theme("colors.red.500");
    --preformatted: theme("colors.rose.400");
    --marked: theme("colors.indigo.300");
    --disabled: theme("colors.rose.800");
  }
}
