@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply text-[18.4px];
  }

  body {
    @apply m-0 grid bg-gray-900;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
  }

  body > * {
    grid-column: 2;
  }

  .simple-prose {
    @apply
    prose
    prose-headings:my-6
    prose-headings:break-words
    prose-headings:font-semibold
    prose-headings:leading-tight
    prose-headings:text-white
    prose-h1:sm:text-[3rem]
    prose-h1:text-[2.5rem]
    prose-h2:sm:text-[2.6rem]
    prose-h2:text-[2.1rem]
    prose-h3:sm:text-[2rem]
    prose-h3:text-[1.75rem]
    prose-h4:text-[1.44rem]
    prose-h4:sm:text-[1.25rem]
    prose-h5:text-[1.15rem]
    prose-h6:text-[0.96rem]
    prose-p:text-white
    prose-a:text-blue-600
    prose-blockquote:mx-24
    prose-blockquote:font-extralight
    prose-blockquote:text-white
    prose-figcaption:text-center
    prose-strong:text-white
    prose-code:bg-gray-800
    prose-code:font-mono
    prose-code:font-extralight
    prose-code:text-gray-300
    prose-pre:font-mono
    prose-pre:font-extralight
    prose-pre:text-gray-400
    prose-ol:text-gray-300
    prose-ul:text-gray-300
    prose-table:text-gray-300
    prose-img:mx-auto
    prose-hr:my-0;

  }

  .prose main {
    @apply mt-12;
  }

  textarea,
  select,
  input,
  progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    @apply break-words;
  }

  .simple-prose nav {
    @apply mt-4 flex flex-col  text-xl  sm:mx-12 sm:flex-row sm:justify-between sm:text-2xl;
  }

  .simple-prose label {
    @apply block;
  }

  .simple-prose textarea,
  .simple-prose select,
  .simple-prose input[type="color"],
  .simple-prose input[type="date"],
  .simple-prose input[type="datetime-local"],
  .simple-prose input[type="email"],
  .simple-prose input[type="file"],
  .simple-prose input[type="hidden"],
  .simple-prose input[type="image"],
  .simple-prose input[type="month"],
  .simple-prose input[type="number"],
  .simple-prose input[type="password"],
  .simple-prose input[type="range"],
  .simple-prose input[type="reset"],
  .simple-prose input[type="search"],
  .simple-prose input[type="tel"],
  .simple-prose input[type="text"],
  .simple-prose input[type="time"],
  .simple-prose input[type="url"],
  .simple-prose input[type="week"] {
    @apply w-full rounded-md border-2 border-gray-800 bg-gray-800 py-2 px-4
    text-white md:w-3/5;
  }

  input[type="submit"] {
    @apply w-full rounded-md border-2 border-gray-800 bg-gray-800 py-2 px-4
    text-white md:w-3/5;
  }

  .simple-prose label {
    @apply text-white;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .simple-prose button,
  .simple-prose input[type="submit"] {
    @apply my-2 mx-1 rounded bg-gray-300 py-3 px-4 text-center font-sans text-base
    text-neutral-800 hover:bg-gray-400 focus:cursor-pointer focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50;
  }

  .simple-prose .radio-group p {
    @apply flex items-center -my-1 text-white;
  }

  .simple-prose .radio-group-name {
    @apply text-white;
  }

  .simple-prose .radio-group label {
    @apply ml-2;
  }

  .simple-prose .checkbox-group p {
    @apply flex items-center -my-1 mb-6 ;
  }

  .simple-prose .checkbox-group label {
    @apply ml-2;
  }

  button[disabled],
  [role="button"][aria-disabled="true"],
  input[type="submit"][disabled],
  input[type="reset"][disabled],
  input[type="button"][disabled],
  input[type="checkbox"][disabled],
  input[type="radio"][disabled],
  select[disabled] {
    @apply cursor-not-allowed opacity-50;
  }

  input:disabled,
  textarea:disabled,
  select:disabled {
    @apply cursor-not-allowed bg-gray-700 !important;;
  }

  body > header {
    @apply bg-gray-800 border-b-[1px] border-gray-500 text-center px-2 pb-8;
    grid-column: 1 / -1;
  }

  body > header h1 {
    @apply max-w-screen-xl mx-auto my-4 text-white text-[3rem] font-bold;
  }

  body > header p {
    @apply max-w-2xl mx-auto my-4 text-white text-xl;
  }

  /* Format navigation */
  header > nav {
    @apply max-w-screen-xl mx-auto my-4 text-white;

  }


  /* Use flexbox to allow items to wrap, as needed */
  header > nav ul,
  header > nav ol,
  header > nav > form {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* List items are inline elements, make them behave more like blocks */
  header > nav ul li,
  header > nav ol li,
  header > nav > form  {
    display: inline-block;
  }

  header > nav a,
  header > nav a:visited,
  header > nav > form  {
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
  }

  header > nav a:hover,
  header > nav > form:hover {
    @apply brightness-150 cursor-pointer;
  }

  /* Reduce nav side on mobile */
  @media only screen and (max-width: 720px) {
    header > nav a,
    header > nav > form > button{
      @apply border-none p-0 underline leading-3;
    }
  }
}
